@page "/test"

<h3>Test Page: @Message</h3>

@*<input type="text" @bind="@Message" />*@
<input type="text" @bind-value="Message" @bind-value:event="oninput" />

<ClickyComponent Title="Some title">
    one <strong>two</strong> three
</ClickyComponent>

@code {
    private string Message { get; set; } = "some message";
}
