@inherits Swampnet.Examples.BlazorApp.Components.HelloBase

<h3>@Title</h3>

<div style="background-color:lightblue;padding:10px;margin:10px">
    @ChildContent
</div>

<button @onclick="OnClick">Clicky</button>
